<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>{{link-to 'Home' 'index'}}</li>
            <li>{{link-to 'Demo' 'demo.form'}}</li>
        </ul>
    </div>
</nav>

<div class="container">
    <p class="text-muted"><small>Target #2 (application.hbs):</small></p>
    {{message-container data-test-id='message-container-application'}}
    {{outlet}}
</div>


